<div class="parrafo">
    <div><h2 class="pixellari">Habilidades</h2></div>
    <ul *ngFor ="let item of conocimientos;" class="ul" id="parrafo">
      <li>{{item.soft[0]}}</li>
      <li>{{item.soft[1]}}</li>
      <li>{{item.soft[2]}}</li>
      <li>{{item.soft[3]}}</li>
      <li>{{item.soft[4]}}</li>
      <li>{{item.hard[0]}}</li>
      <li>{{item.hard[1]}}</li>
      <li>{{item.hard[2]}}</li>
      <li>{{item.hard[3]}}</li>
      <li>{{item.hard[4]}}</li>
      <li>{{item.hard[5]}}</li>
      <li>{{item.hard[6]}}</li>
      <li>{{item.hard[7]}}</li>
      <li>{{item.hard[8]}}</li>
      <li>{{item.hard[9]}}</li>
      <li>{{item.hard[10]}}</li>
      <li>{{item.hard[11]}}</li>
      <li>{{item.hard[12]}}</li>
      
    </ul>
  <button type="button" class="boton-editar3" onclick="cambiarInfoAEditar()" >editar</button>
  <button type="button" class="boton-quitar3">eliminar</button>
  </div>