<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html>
<body class="body">

  <app-header></app-header>

  <div class="topnav">
     <img class="topnav-img" src="../assets/img/APLogo.png">
     <a class=".topnav a">Login</a>
     <img class="topnav-icono" src="../assets/img//icons/GMail.png">
     <img class="topnav-icono" src="../assets/img/icons/discord.png">
     <img class="topnav-icono" src="../assets/img/icons/git.png">
     <img class="topnav-icono" src="../assets/img/icons/Skype.png">

     
    </div>




<app-educacion></app-educacion>

<br>


<app-conocimientos></app-conocimientos>

<br>


<app-extra></app-extra>

  <br>
  <br>

<app-flecha></app-flecha>

<br>
<app-contacto></app-contacto>

<p class="footer">@2021 - 2022 Gabriela Isabel Fuentes</p>
</body>

<router-outlet></router-outlet>
