
@font-face {
    font-family:font_1;
    src: url(../assets/fonts/Pixellari.ttf);
    font-style:normal;
    font-weight:normal;
  }
  
  @font-face {
    font-family:font_2;
    src: url(../assets/fonts/Vcr.ttf);
    font-style:normal;
    font-weight:normal;
  }
  
  



  
  
    
   
  
  
  .desc{
      font-family:font_2;
      font-size: 1.7em;
      text-align: center;
      color:antiquewhite;
      text-shadow:1px 1px 2 #151133;
  }
  
  .parrafo{
      position: static;
      text-size-adjust: medium;
      background-image:url(../assets/img/pixel.jpg);
      background-size:auto;
      background-repeat:repeat-x;
      background-position: center;
      margin: 0 16rem 3rem 16rem;
      padding: 2rem 8rem 4rem 8rem;
      border-radius: 10px;
      box-sizing: border-box;
      }
  
  
  
  .pixellari{
    font-family:font_1;
    font-size: xx-large;
    color:antiquewhite
  }
  
  .ul{
    font-family:font_2;
    font-size:large;
    color:antiquewhite;
  }
  
  
 #down{
   transform:translate-y(-5em);
 }
  
  
  
  

  