<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
</head>


<body class="body">

  <app-header></app-header>





<app-educacion></app-educacion>

<br>


<app-conocimientos></app-conocimientos>

<br>
<app-flecha></app-flecha>

<app-extra></app-extra>

  <br>

  <app-idiomas></app-idiomas>
  <br>
  <br>



<br>
<div id="down"></div>
<app-contacto></app-contacto>


</body>


</html>

