.parrafo{
    position: static;
    background-image:url(../conocimientos/assets/pixel.jpg);
    background-size:contain;
    
    margin: 3rem 10rem 3rem 10rem;
    padding: 2rem 8rem 4rem 8rem;
    border-radius: 10px;
    box-sizing: border-box;
    }



.pixellari{
  font-family:font_1;
  font-size: xx-large;
  color:antiquewhite
}

.ul{
  font-family:font_2;
  font-size:large;
  color:antiquewhite;
}

@media screen and (min-device-width : 320px) and (max-width: 1200px) {
  .pixellari{
    font-size: x-large; 
  }

  .parrafo {
    width: 90%;
    display: block;
    font-size:medium;
    margin: 0 16rem 3rem 3rem;
    padding: 2rem 6rem 4rem 6rem;
  }

}
