.topnav {
    font-family: font_2;
    
      background: #2c1e63;
    background: -moz-linear-gradient(top,  #2c1e63 0%, #352865 4%, #352865 9%, #43369d 29%, #43369d 58%, #562499 82%, #be88e2 100%);
    background: -webkit-linear-gradient(top,  #2c1e63 0%,#352865 4%,#352865 9%,#43369d 29%,#43369d 58%,#562499 82%,#be88e2 100%);
    background: linear-gradient(to bottom,  #2c1e63 0%,#352865 4%,#352865 9%,#43369d 29%,#43369d 58%,#562499 82%,#be88e2 100%);
    
  
      
      top:0%;
      position:fixed;
      width: -webkit-fill-available;
      height: fit-content;
      display: flow-root;
      left:0;
    }
    
    .btn{
      font-family: font_2;
      align-self: right;
      background-color:#7966d7;
      color: white;
      text-align: center;
      padding: 8px 12px;
      text-decoration: none;
      font-size: 17px;
      border-radius: 16%;
      position: inherit;
      top: 12px;
     
      border-style:none;
      
    }
  .btn:hover {
      font-family: font_2;
      background-color: #6a36aa;
      color: antiquewhite;
      border-radius: 16%;
      transition: all 200ms ease-out;
      transition-property: all;
      transition-duration: 200ms;
      transition-timing-function: ease-out;
      transition-delay: 0s;
      cursor:pointer;
    }
  
    .topnav-img{
      width:6em;
      position:static;
      top:0%;
      margin-right: 0px;
      
  
  
    }
    .topnav-icono{
      position: unset;
      height: 2em;
      top: 17%;
      margin: 12px 8px 10px 0px;
      padding-right: 10px;
      bottom: 0%;
      right: -80%;
      float: right;
    }
    .topnav-icono:hover {
      font-family: font_2;
      background-color: #a865ff;
      color: antiquewhite;
      border-radius: 5px;
      transition: all 200ms ease-out;
      transition-property: all;
      transition-duration: 200ms;
      transition-timing-function: ease-out;
      transition-delay: 0s;
      cursor:pointer;
    }
    
    .topnav a.active {
      font-family: font_2;
      background-color: #c35194;
      color: white;
      border-radius: 3px;
    }
    
    .topnav input[type=text] {
      font-family: font_2;
      float: right;
      padding: 6px;
      border: none;
      background-color: rgb(208, 183, 255);
      text-decoration-color: antiquewhite;
      margin-top: 8px;
      margin-right: 16px;
      font-size: 17px;
    }

.avatar{
    width: 100%;
    border-radius: 50%;
    width: 13%;
    margin-top: -10%;
    margin-left: 45%;
    margin-right: 50%;
    box-shadow: 0 4px 8px 0 rgba(107, 72, 206, 0.2);   
}

.titulo{
    color:antiquewhite;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    align-content: center;
  
    
    padding-top:12%;
    padding-bottom:10%;

    margin-bottom: auto;

    
    background-image: url(../header/assets/bg3.gif);
    height: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    box-shadow: 0 4px 8px 0 rgba(127, 42, 167, 0.2);
    border-radius: 4px;
}

#titulo{
  font-family:font_1;
  text-align:center;
  letter-spacing: 5px;
  font-size:80px;
}

.desc{
    font-family:font_2;
    font-size: 1.7em;
    text-align: center;
    color:antiquewhite;
    text-shadow:1px 1px 2 #151133;
}

