<div class="topnav">
  <img class="topnav-img"  src="../assets/img/APLogo.png">
  <button type="button" class="btnn">Login</button>
  <a href="#down"><img class="topnav-icono" src="../assets/img//icons/GMail.png" ></a>
  <a href="https://discord.gg/3cEYjjmg8V"><img class="topnav-icono" src="../assets/img/icons/discord.png"></a>
  <a href="https://github.com/gifuentes92"><img class="topnav-icono" src="../assets/img/icons/git.png"></a>
  <a href="https://t.me/gifuentes92"><img class="topnav-icono" src="../assets/img/icons/Telegram.png"></a> 
 
</div>


<div class="titulo"><p id="titulo">{{persona.fullname}}</p></div> 
  <button type="button" class="boton-quitar1" data-bs-toggle="modal" data-bs-target="#modalEditarNombre" (click)="mostrarDatosEncabezado()">Editar</button>

 <img class="avatar" [src]=persona.image alt="avatar">
<div class="desc">{{persona.position}} - {{persona.aboutMe}}</div>



<!-- Modal -->
<div class="modal fade" id="modalEditarNombre" tabindex="-1" role="dialog" aria-labelledby="modalEditarNombre" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-fondo">
      <div class="modal-header">
        <h5 class="modal-titulo" id="modalEditarNombre">Editar</h5>
        <button type="button" class="boton-quitar1" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form group="form">
        <label for="fullname" class="form-text">Nombre y apellido</label>
       <div> <input type="text" name="fullname" id="fullname" placeholder="Ingrese nombre y apellido" formControlName="fullname">
          <div *ngIf="fullname?.invalid &&  fullname?.touched">
          <div *ngIf="fullname?.errors?.['required']" class="form-alert">
           Se necesita un nombre y apellido.
          </div>
          <div *ngIf="fullname?.errors?.['minlength']"class="form-alert">
          El nombre y apellido debe ser de al menos 4 caracteres.
         </div>
        </div>   
      </div>     
        <label for="fullname" class="form-text">Posición</label>
       <input type="text" name="position" id="position" placeholder="Ingrese posición" formControlName="position">
       <div *ngIf="position?.invalid && position?.touched">
        <div *ngIf="position?.errors?.['required']" class="form-alert">
         Se necesita una posición.
        </div>
        <div *ngIf="position?.errors?.['minlength']"class="form-alert">
        La posición debe ser de al menos 4 caracteres.
       </div>
      </div>
       <label for="aboutMe" class="form-text">Descripción</label>
       <input type="text" name="aboutMe" id="aboutMe" placeholder="Ingrese descripción"formControlName="aboutMe">
       <div *ngIf="aboutMe?.invalid &&aboutMe?.touched">
       <div *ngIf="aboutMe?.errors?.['required']" class="form-alert">
         Se requiere una descripción.
         </div>
        <div *ngIf="aboutMe?.errors?.['maxlength']"class="form-alert">
         La descripción debe ser de hasta 50 caracteres.
        </div> 
      </div>
    </form>
    </div> 
      <div class="modal-footer">
        <button type="button" id="cerrarModal" class="boton-quitar1" (click)="cerrarModalData()" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="boton-editar1"(click)="guardarNombre()">Guardar</button>
      </div>
    </div>
  </div>
</div>
 

