
@font-face {
  font-family:font_1;
  src: url(/maqueta/fonts/Pixellari.ttf);
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family:font_2;
  src: url(/maqueta/fonts/Vcr.ttf);
  font-style:normal;
  font-weight:normal;
}

.arriba{
  position:fixed;
  bottom:50px;
  right:50px;
}

.arriba:hover{
  bottom:75px;
  right:50px;
}

.body{
    
    background: #151133;
    background: -moz-linear-gradient(top,  #151133 24%, #2e1b63 57%, #2e1b63 76%, #7966d7 99%);
    background: -webkit-linear-gradient(top,  #151133 24%,#2e1b63 57%,#2e1b63 76%,#7966d7 99%);
    background: linear-gradient(to bottom,  #151133 24%,#2e1b63 57%,#2e1b63 76%,#7966d7 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151133', endColorstr='#7966d7',GradientType=0 );      
}
    

.avatar{
    width: 100%;
    border-radius: 50%;
    width: 13%;
    margin-top: -10%;
    margin-left: 45%;
    margin-right: 50%;
    box-shadow: 0 4px 8px 0 rgba(107, 72, 206, 0.2);   
}


.topnav {
  font-family: font_2;
  
    background: #2c1e63;
  background: -moz-linear-gradient(top,  #2c1e63 0%, #352865 4%, #352865 9%, #43369d 29%, #43369d 58%, #562499 82%, #be88e2 100%);
  background: -webkit-linear-gradient(top,  #2c1e63 0%,#352865 4%,#352865 9%,#43369d 29%,#43369d 58%,#562499 82%,#be88e2 100%);
  background: linear-gradient(to bottom,  #2c1e63 0%,#352865 4%,#352865 9%,#43369d 29%,#43369d 58%,#562499 82%,#be88e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c1e63', endColorstr='#be88e2',GradientType=0 );

    
    top:0%;
    position:fixed;
    width: -webkit-fill-available;
    height: fit-content;
    display: flow-root;
  }
  
  .topnav a {
    font-family: font_2;
    align-self: right;
    background-color:#7966d7;
    color: white;
    text-align: center;
    padding: 12px 16px;
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5%;
    position: inherit;
        top: 10px;
    
  }
  .topnav a:hover {
    font-family: font_2;
    background-color: #6a36aa;
    color: antiquewhite;
    border-radius: 5px;
    transition: all 200ms ease-out;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
  }

  .topnav-img{
    width:6em;
    position:static;
    top:0%;
    margin-right: 5px;


  }
  .topnav-icono{
    position: unset;
    height: 2em;
    top: 17%;
    margin: 12px 8px 10px 0px;
    bottom: 0%;
    right: -80%;
    float: right;
    border-top-left-radius: 50%;
  }
  .topnav-icono:hover {
    font-family: font_2;
    background-color: #a865ff;
    color: antiquewhite;
    border-radius: 5px;
    transition: all 200ms ease-out;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
  }
  
  .topnav a.active {
    font-family: font_2;
    background-color: #c35194;
    color: white;
    border-radius: 3px;
  }
  
  .topnav input[type=text] {
    font-family: font_2;
    float: right;
    padding: 6px;
    border: none;
    background-color: rgb(208, 183, 255);
    text-decoration-color: antiquewhite;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
 

.titulo{
    color:antiquewhite;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    align-content: center;
  
    
    padding-top:12%;
    padding-bottom:10%;

    margin-bottom: auto;

    
    background-image: url(/maqueta/img/bg3.gif);
    height: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    box-shadow: 0 4px 8px 0 rgba(127, 42, 167, 0.2);
    border-radius: 4px;
}

#titulo{
  font-family:font_1;
  text-align:center;
  letter-spacing: 5px;
  font-size:80px;
}
.desc{
    font-family:font_2;
    font-size: 1.7em;
    text-align: center;
    color:antiquewhite;
    text-shadow:1px 1px 2 #151133;
}

.parrafo{
    position: static;
    text-size-adjust: medium;
    background-image:url(/maqueta/img/pixel.jpg);
    background-size:auto;
    background-repeat:repeat-x;
    background-position: center;
    margin: 0 16rem 3rem 16rem;
    padding: 2rem 8rem 4rem 8rem;
    border-radius: 10px;
    box-sizing: border-box;
    }



.pixellari{
  font-family:font_1;
  font-size: xx-large;
  color:antiquewhite
}

.ul{
  font-family:font_2;
  font-size:large;
  color:antiquewhite;
}


@media screen and (max-width: 1200px) {
  .pixellari{
    font-size: x-large; 
  }

  .parrafo {
    width: 90%;
    display: block;
    font-size:medium;
    margin: 0 0 4% 6% ;
    padding: 2% 8% 2% 8%;
  }

  #parrafo {
    width: 90%;
    display: block;
    font-size:medium;
    margin: 0 0 4% 6% ;
    padding: 2% 8% 2% 8%;
  }

  #parrafo_2 {
    width: 90%;
    display: block;
    font-size:medium;
    margin: 0 0 4% 6% ;
    padding: 2% 8% 2% 8%;
  }

  #parrafo3 {
    width: 90%;
    display: block;
    font-size:medium;
    margin: 0 0 4% 6% ;
    padding: 2% 8% 2% 8%;
  }

  .topnav{
    padding: 0px 81px 0px 0px;
  }
  .topnav input[type=text] {
    font-family: font_2;
    float: none;
    display: block;
    text-align: right;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  
  .topnav-icono{
    right: -23%;
  }
  .desc{
    font-size: large;
  }

  

  .arriba{
    position:fixed;
    bottom:50px;
    right:50px;
    margin-right: 15px;
    margin-top:50px;
    height:5em;
  }
}

.footer{
  font-family:font_2;
    font-size: 10;
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #050736;
    color: antiquewhite;
    text-align: center;
    opacity: 75%;
    margin:0;
}


.boton-editar{
  float:right;
  font-family: font_2;  
  padding: 6px;
  border: none;
  background-color: rgb(208, 183, 255);
  text-emphasis-color:  antiquewhite;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 8px;
}

.boton-quitar{
  float:right;
  font-family: font_2;  
  padding: 6px;
  border: none;
  background-color: rgb(203, 71, 255);
  text-emphasis-color:  antiquewhite;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 8px;
}