<link rel="stylesheet" href="/extra.component.css">
<div class="parrafo"><div><h2 class="pixellari">Conocimientos Extra</h2></div>
<ul class="ul" id="parrafo_3">
  <li>Edición de imágenes en Adobe photoshop</li>
  <li>Edición de video en Adobe Premier y After Effects</li>
	<li>Edición de audio en Audacity</li>
	<li>Edición de pixelart y sprites en Aseprite</li>
  <li>Inglés: nivel intermedio</li>
  <li>Francés: nivel básico</li>
</ul>
<button type="button" class="boton-editar3">editar</button>
<button type="button" class="boton-quitar3">eliminar</button>
</div>