
    <div class="modal-dialog"id="modalEditarSkill"  role="document"aria-labelledby="modalEditarSkillLabel" *ngIf="skillEdit">
      <div class="modal-fondo">
        <div class="modal-header">
          <h5 class="modal-titulo" id="modalEditarSkillLabel">Editar</h5>
        </div>
        <div class="modal-body">
          <form group="form">
            <div><label for="skill" class="form-text">Conocimientos</label>
              <input type="text" name="skill" id="skill" placeholder="Ingrese Habilidad" [(ngModel)]="skillEdit.skill" required>
            </div>
          </form>            
        </div>
        <div class="modal-footer">
          <button type="button" id="cerrarModal" class="boton-quitar3"  data-bs-dismiss="modal" routerLink="/portfolio" >Cerrar</button>
          <button type="button" class="boton-editar3" (click)="onUpdateS()">Actualizar</button>
        </div>
      </div>
    </div>
  
